/**

!**/
**/work/

!.gitignore
!*.v
!*.sv
!*.vhd
!*.py
!*.do
!*.pdf

# libero SoC files
!*.sdc
!*.pdc
!*.prjx
**/component/
**/designer/
**/package/
**/simulation/
**/smartgen/
**/stimulus/
**/synthesis/
**/tooldata/
**/viewdraw/
!**/smartgen/**/*.sv
!**/smartgen/**/*.v
!**/smartgen/**/*.vhd

!README*
!CHANGELOG*
!LICENSE*